## 2.3 리스트

- 숫자, 문자들이 요소로 있는 집합체

리스트명 = [요소1, 요소2,요소3,...]

- iterable(반복가능한), mutable(변경가능한) 객체 임.

In [ ]:
a=[] # 비어있는 리스트 a=list()
a

In [ ]:
a=list()
a

In [ ]:
b=[1,2,3]
b

In [ ]:
c=['Life','is','too','short']   
c

In [ ]:
d=[1,2,'Life','is']
d

In [ ]:
e=[1,2,['Life','is']] #리스트 자체를 요소값으로 
e

- 리스트의 인덱싱과 슬라이싱 : 요소들에 위치값을 주고 슬라이싱(문자열과 동일한 방법)
- 위치는 0부터 시작

- Q1) 위 b 변수에서 1과 3를 각각 찾아보아라.

In [ ]:
b

In [ ]:
b[0] # 첫번째 요소값

In [ ]:
b[2]

In [ ]:
b[-3]

In [ ]:
b[-1] #끝에서 첫번째 요소값 b[2]

- Q2) 위 e 변수에서  ['Life','is'] 요소값을 찾아보고, 또 'Life'만 슬라이싱 해보아라.

In [ ]:
e

In [ ]:
e[2] # 세번째 요소값 list 그자체

In [ ]:
e[2][0] #세번째 요소값 list에서 첫번째 요소값

In [ ]:
e[2][-2]

- Q3) 위 c 변수에서 ['Life','is'] 만 슬라이싱 해보아라.

In [ ]:
c

In [ ]:
c[0:2] #c[0], c[1] 두개의 요소값

In [ ]:
c[:2] #c[0],c[1] 두개의 요소값

In [ ]:
c[2:4]

In [ ]:
c[2:] # c[2], c[3] 두개의 요소값

- Q4) 리스트형 [1,2,3,['a','b','c'],4,5] 를 f변수에 입력하고, ['a','b']를 슬라이싱 해보아라.

In [ ]:
f=[1,2,3,['a','b','c'],4,5] 
#f[3][0:2]
f[3][:2]   #f에서 'a','b' 슬라이싱

- Q5) [0,1,2,3,4,5,6,7,8,9,10]를 num 변수에 입력하고, [0,2,4,6,8,10] 을 슬라이싱 해 보아라.

In [ ]:
num=[0,1,2,3,4,5,6,7,8,9,10]
num[0:11:2]

In [ ]:
num[ : : 2]

In [ ]:
num[-1: : -2] # num[-1: 0: -2] 와 비교

In [ ]:
num[::-1] # reverse와 동일한 효과

In [ ]:
num.reverse()
num

- 리스트 연산
 1. 리스트 더하기 : +
 2. 리스트 반복하기 : *
 3. 리스트 길이 구하기 : len

- Q6) [1,2,3]과 [4,5,6]을 a와 b로 입력하고, 그 두개의 변수로 [1,2,3,4,5,6]을 만들어라.

In [ ]:
a=[1,2,3]
b=[4,5,6]
a+b

- Q7) 위 a변수를 이용하여 [1,2,3,1,2,3]를 만들어라.

In [ ]:
a*2

In [ ]:
a

- Q8) 위 Q5의 a에 대한 요소 개수를 구하여라.

In [ ]:
len(a)

- 리스트의 수정과 삭제

- Q9) [1,2,3]를 a에 입력하고 3를 4로 수정하라.

In [ ]:
a=[1,2,3]
a[2]=4 # 3을 4로 수정
a

In [ ]:
#mutable 객체인지 확인 
a=[1,2,3]
print(id(a))
a[2]=4  
print(id(a))

- Q10) 위 a변수에서 요소값 2를 삭제하라.

In [ ]:
del a[1] # 2를 삭제
a

- Q11) [1,2,3,4,5]를 a에 입력하고 [1,2]만 남게 [3,4,5]를 삭제하라.

In [ ]:
a=[1,2,3,4,5]
del a[2:] # 3,4,5를 삭제
a

- 리스트 관련 메소드
 1. 리스트에 요소 추가 : append , insert, extend
 2. 리스트 정렬 : sort
 3. 리스트 뒤집기 : reverse
 4. 위치반환 : index
 5. 리스트 요소 제거 : remove, pop
 6. 리스트에 포함된 요소 x의 개수 세기 : count
 7. 숫자형일 경우 요소들의 합 : sum
 8. 숫자형일 경우 min, max 값 : min, max

- Q12) [1,2,3]를 a에 입력하고 4라는 요소값을 추가하여 [1,2,3,4]를 만들어라.

In [ ]:
a=[1,2,3]
a=a+[4]  # a+=[4] 와 동일
a

In [ ]:
a=[1,2,3]
a.append(4)  #리스트 맨 마지막에 요소 4 추가= a.extend([4])
a

In [ ]:
a=[1,2,3]
a.extend([4])
a

 - Q13) [1,2,3,4]가 된 a에 2개의 요소를 더 추가하여 [1,2,3,4,5,6]를 만들어라.
 
   a.append(5,6); a.extend(5,6); 모두 error

In [ ]:
a+=[5,6]
a

In [ ]:
a=[1,2,3,4]
a.extend([5,6]) 
a

In [ ]:
a=[1,2,3,4]
a.append([5,6]) #리스트 안에 리스트 추가 
a

In [ ]:
#error
a=[1,2,3,4]
a.append(5,6)
a

- Q14) [1,2,3]을 a에 입력하고 [4,1,2,3]를 만들어라. (특정 위치에 요소 추가)

In [ ]:
a=[1,2,3]
a.insert(0,4) # index 0 앞에 요소 4 삽입  
a

In [ ]:
a.insert(3,5) # index 3 앞에 요소 5 삽입  
a

- Q15) [1,4,3,2]를 a에 입력하고 오름차순, 내림차순으로 각각 정렬하라.

In [ ]:
a=[1,4,3,2]
a.sort() #오름차순 정렬하기
a

In [ ]:
a.sort(reverse=True) #내림차순 정렬하기
a

- Q16) [5,2,3]를 a에 입력하고, 거꾸로 뒤집어 [3,2,5]만들어라.

In [ ]:
a=[5,2,3] 
a.reverse() #현재의 리스트를 그대로 거꾸로 뒤집기
a

- Q17) [1,2,3,1,2,3]를 a에 입력하고, 요소값 3의 위치를 찾아보아라.

In [ ]:
a=[1,2,3,1,2,3] 
b=a.index(3) #요소 3의 index 값 단, 2개 이상일 경우 맨 처음 index 값
b

In [ ]:
a.find(3)   #error

- Q18) 위 a변수에서 요소 3를 삭제하라.

In [ ]:
a.remove(3) #요소 3를 삭제 단, 2개 이상일 경우 첫번째 요소만 삭제
a

- Q19) 함수 pop의 사용법을 익혀보아라.

In [ ]:
a=[1,2,3]
a.pop() # 맨 마지막 요소를 return 하고 그 요소를 삭제

In [ ]:
a

In [ ]:
a=[1,2,3]
a.pop(1) # a[1]를 return하고 그 요소를 삭제

In [ ]:
a

- 기타

In [ ]:
a=[1,2,3,1,2,3]
a.count(1) # 요소 1의 개수 return

In [ ]:
1 in a  # 1 이라는 요소값이 a list에 있는지 여부

In [ ]:
a=[1,2,3]
sum(a) # 1,2,3의 합

- Q20) a=[1,2,-8,0]에서 min, max 값을 찾아 보시오. (sort 이용)

- Q21) q=[11,33,50]에서 3개의 요소값을 합쳐서 113350 을 만들어 보시오.

* sort, sorted, reverse, reversed의 비교

  - sort, reverse는 class 소속의 메소드로 객체.sort, 객체.reverse로 사용하며 결과는 None 이지만, 객체가 변화
  
  - sorted, reversed는 내장함수로 sorted(객체), reversed(객체)로 사용하면 변화된 객체가 결과로 나오고 원 객체는 변화하지 않음.

In [ ]:
num=[2,4,1,0,5,3]
print(num.sort()) #print(num.sort(reverse=True))
num

In [ ]:
num=[2,4,1,0,5,3]
print(sorted(num)) #print(sorted(num, reverse=True))
num

In [ ]:
num=[2,4,1,0,5,3]
print(num.reverse())
num

In [ ]:
num=[2,4,1,0,5,3]
print(list(reversed(num)))
num

In [ ]:
num=[2,4,1,0,5,3]
print(num[::-1])
num

## 2.4 튜플

- 리스트와 비슷 
 1. 튜플은 ()로 둘러싸여 있음
 2. 튜플은 요소값을 바꿀 수 없음 : 수정, 삭제와 관련 된 append, extend, sort, reverse, remove 등 사용 불가능
 3. 인덱싱, 슬라이싱, 연산등은 리스트와 동일

- iterable, immutable 객체임.

In [ ]:
t=(1,2,'a','b') # t=1,2,'a','b' 
t[0] #index 0번째 값

In [ ]:
t[1:] #index 1번째 값부터 끝까지

In [ ]:
t1=(3,4) 
t+t1    # 튜플 더하기

In [ ]:
t*2    # 튜플 반복하기

In [ ]:
len(t)

- Q1) q=(1,2,3) 이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 보시오.

In [ ]:
q=(1,2,3)
q1=(4,)
q+q1

In [ ]:
type(q1)

In [ ]:
q=(1,2,3)
q+=(4,)  # q+=4,
print(q)

In [ ]:
t

In [ ]:
t[1]=10 #error

- Q2) t=(1,2,'a','b') 튜플에서 2 요소값을 10으로 변경하려 한다. 

     튜플을 리스트로 바꾸고 (list(tuple)) , 리스트에서 10으로 변경한 후 
     다시 리스트를 튜플로 바꾸어라(tuple(list))

- Q3) t=(1,2,3) 의 요소값들을 문자로 바꾼 후, join을 하여 "123"을 만들고 list로 변환하여 ['1','2','3']이 되도록 한다.

#### * zip 함수 : 여러개의 iterable한 객체들의 요소들을 쌍을 만들어 튜플형태로 묶어주는 함수

     - 각 개체들의 요소 개수가 다를경우에는 최소개에 맞춰 쌍을 만들어 줌

In [ ]:
list(zip([1,2,3],["a","b","c"]))

In [ ]:
list(zip((1,2,3),("a","b","c" )))

In [ ]:
list(zip("123","abc"))

In [ ]:
list(zip("123","a"))

- zip(*객체) : unzip 하는 방법으로 결과는 튜플 형식

In [ ]:
a=zip("123","abc")
num,st=zip(*a)

In [ ]:
num

In [ ]:
st

In [ ]:
b=[('1','a','ㄱ'),('2','b','ㄴ'),('3','c','ㄷ')]
num,st1,st2=zip(*b)

In [ ]:
print(num, st1, st2)