## 4. 함수 

- 들어온 입력값을 받아 어떤 처리를 하여 적절한 결과값을 돌려줌

- 일반적인 함수의 구조

  def 함수이름(매개변수) : 
        수행할 문장
        return 결과값


- Q1. 2개의 입력값을 받아서 서로 더한 결과값을 돌려주는 add 라는 함수 만들어라.

In [30]:
def add(a,b) : 
    result = a+b
    return result

In [31]:
add(a=3,b=4) # 매개변수에 a=3, b=4이 입력된것

7

In [32]:
a=add(3,4) 
a

7

In [33]:
result # result 변수는 함수 내부에서 정의된 것

NameError: name 'result' is not defined

In [34]:
add( b=4, a=3 ) #매개변수를 지정하여 함수 호출 가능 , 이럴경우 매개변수 순서 바꿈이 가능

7

In [35]:
def minus(a,b) : 
    result = a-b
    return result

In [36]:
minus(4,3)#4-3

1

In [37]:
minus(b=4,a=3) #3-4

-1

- Q2. 입력값이 없이 say라는 함수를 호출하면 결과값으로 Hi라는 문자가 나오는 함수를 만들어라.

In [38]:
def say() : 
    return 'Hi'

In [39]:
say()

'Hi'

- Q3. 2개의 입력값을 받아서 서로 더한 값을 print될 수 있는 함수를 만들어라.(결과값은 존재하지 않는다.)

In [40]:
def add(a,b) : 
    print("%d, %d의 합은 %d 입니다." %(a,b,a+b))

In [41]:
add(4,3)

4, 3의 합은 7 입니다.

In [42]:
a=add(3,4)
print(a) # return 받은 결과값이 없기에 print를 하면  None이 나옴

3, 4의 합은 7 입니다.
None

In [43]:
type(a)

NoneType

- Q4. 2번의 문제에서 결과값 없이 Hi라를 프린트 하는 함수를 만들어라.

In [52]:
def say() : 
    print('Hi')
    return 'Hi'

In [53]:
say()

Hi

'Hi'

In [54]:
a=say()
print(a)

Hi
Hi

- 입력값의 개수가 함수를 호출할 때마다 바뀔 때 

   def 함수이름 (*매개변수 ) : 
         수행할 문장
         

- Q5. 여러개의 입력값을 모두 더하는 함수를 만들어라.

In [55]:
def add_many (*args) : 
    total=0 
    for i in args : 
        total+=i 
    return total

In [56]:
add_many(1,2)

3

In [57]:
add_many(1,2,3,4,5)

15

In [58]:
add_many(1,2,3,4,5,6,7,8,9,10)

55

In [59]:
add_many([1,2,3]) #error

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

- Q6. 5번 문제에서 자료형을 입력하게 할려면, 매개변수 앞에 * 표시를 제외함.

In [60]:
def add_many (args) : 
    total =0 
    for i in args : 
        total+=i 
    return total

In [61]:
add_many((1,2,3))

6

In [62]:
add_many(range(1,11))

55

- Q7. +, x 를 선택하는 변수와 입력값의 개수가 정해지지 않는 2개의 입력변수를 받아 (+,x) 계산하는 함수를 만들어라.

In [63]:
def add_mul(choice, *args): 
    if choice == 'add' : 
        result=0 
        for i in args : 
            result=result+i
    elif choice =='mul' :
        result=1
        for i in args : 
            result =result*i
    return result

In [64]:
add_mul('add', 1,2,3,4,5)

15

In [65]:
add_mul('div' , 5,3)

UnboundLocalError: cannot access local variable 'result' where it is not associated with a value

In [77]:
def add_mul(choice, *args): 
    if choice == 'add' : 
        result=0 
        for i in args : 
            result=result+i
    elif choice =='mul' :
        result=1
        for i in args : 
            result =result*i
    else : 
        return '이 함수는 +,X 만 할 수 있습니다.' # add와 mul 아닌 경우 여기서 바로 함수를 빠져나감
    return result

In [78]:
add_mul('div' , 5,3)

'이 함수는 +,X 만 할 수 있습니다.'

- Q8. 2개의 입력변수를 받아 결과값은 (+,X) 한 결과를 return하는 함수를 만들어라.

In [79]:
def add_and_mul(a,b) :
    add=a+b
    mul=a*b
    return (add, mul)   #또는 return a+b, a*b
    #return a+b, a*b

In [80]:
add_and_mul(3,5)  #튜플형식의 결과값을 갖게됨

(8, 15)

In [81]:
def add_and_mul(a,b) :  
    add=a+b
    mul=a*b
    result=[add,mul]
    return [add,mul]  # 리스트형식의 결과값

In [82]:
add_and_mul(3,5)

[8, 15]

In [83]:
def add_and_mul(a,b) : 
    add=a+b
    mul=a*b
    return add   # 여기서 함수를 나가게 됨. 처음 만나는 return에서 함수를 끝냄.
    return mul

In [84]:
add_and_mul(3,5)

8

- 매개변수에 초기값 미리 설정하기

  초기값이 미리 설정되는 매개변수는 그렇지 않는 변수들 뒤쪽에 쓰여져야 함
  
 
- Q9.입력변수로 이름, 나이, 성별을 입력하면 각각에 대해 print 하는 함수를 만들어라. 단, 성별을 초기값을 남자로 미리 설정해 두자.

In [85]:
def say_myself(name, old, man=True) : 
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d살입니다." %old)
    if man:
        print("남자입니다.")
    else :
        print("여자입니다.")

In [86]:
say_myself("홍길동",30)

나의 이름은 홍길동 입니다.
나이는 30살입니다.
남자입니다.

In [87]:
say_myself("홍길동",30,False)

나의 이름은 홍길동 입니다.
나이는 30살입니다.
여자입니다.

- Q10. 2개의 숫자를 입력받아 더하기와 곱하기가 있는 함수를 만드세요. 단, 디폴트로 더하기,또 하나의 숫자는 1로 미리 초기값을 설정하세요.

In [88]:
def add_mul(a, b=1, type1="add") :
    print(a, b, type1)
    if type1=="add": return a+b
    elif type1=="mul" : return a*b

add_mul(3)
add_mul(3,type1="mul")  
#add_mul(3, "mul") #error
add_mul(3, 2)
add_mul(3, 2,"mul")

3 1 add
3 1 mul
3 2 add
3 2 mul

6

- global 명령어 : 전역변수
    
    함수 내부에서 global 명령어를 사용하여 변수 정의 
     ex) global  a
     
    함수 외부의 변수를 내부에서 직접 사용하게 됨
    

- Q11. 함수 외부의 변수 a를 내부에서 +1를 하는 함수를 만들어라.

In [89]:
a=10

def vartest() : 
    global a  # 함수 외부의 a=10를 인식
    a=a+1

vartest()
print(a)

11

In [90]:
a=10

def vartest(a) :
    a=a+1
    return a

b=vartest(a=a)
print(a,b)

10 11

In [91]:
# 전역변수 또 다른 예 
# 외부에 선언된 a 변수를 함수 내부에서 전역변수로 취급하여 사용. 
# 단, a값 자체 변경은 불가능함.

a=10

def vartest() : 
    #a*=2
    return a*2

b=vartest()
print(a,b)

10 20

- lambda 함수

  함수를 생성할 때 사용하는 예약어, def와 동일한 역할
  
  보통 함수를 한 줄로 간결하게 만들때 사용함. 
  
  return 명령어 없어도 결과값을 돌려줌.
  
  lambda 매개변수1, 매개변수2, ... : 매개변수를 사용한 표현식
  

- Q12. 두개의 인수를 받아 더한 값을 돌려주는 lambda 함수를 작성하라.

In [92]:
def add(a,b):
    return a+b

In [93]:
add=lambda a, b: a+b
result=add(3,4)
print(result)

7

- filter 함수

  filter(함수이름, 반복가능한 자료형)
  
  두번째 인수인 반복가능한 자료형 요소가 첫번째 인수인 함수에 입력되었을 때 반환 값이 참인 것만 걸러내서 돌려줌
 
 
- Q13. 양수값만 돌려주는 함수를 작성하라.

In [94]:
def positive(x) : 
    return x>0  #True / False 

list(filter(positive, [1,-3,2,0,-5,6]))

[1, 2, 6]

- Q14. 위 Q13 문제에서 lambda와 filter를 같이 쓰면?

In [95]:
list(filter(lambda x : x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

- Q15. 위 Q13 문제를 filter 쓰지 않으면?

In [96]:
def positive_1(arg) : 
    result=[]
    for i in arg : 
        if i>0 : 
            result.append(i)
    return result

positive_1([1,-3,2,0,-5,6])

[1, 2, 6]

- map 함수

  map(함수이름, 반복가능한 자료형) 
  
  입력받은 자료형의 각 요소를 함수가 수행한 결과를 묶어서 돌려주는 함수
 
 
- Q16. 리스트 요소를 입력받아 각 요소에 2를 곱한 결과값을 돌려주는 함수를 작성하라.

In [97]:
def two_times(x) : 
    return x*2

list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

- Q17. 위 Q16 문제에서 lambda도 같이 쓰면?

In [98]:
list(map(lambda x: x*2, [1,2,3,4]))

[2, 4, 6, 8]

In [99]:
def two_times_1(arg):
    result=[]
    for i in arg:
        result.append(i*2)
    return result

two_times_1([1,2,3,4])

[2, 4, 6, 8]

- Q18. 동일 크기의 리스트 자료형 2개의 동일 위치의 요소값 합을 구하는 함수를 작성하라. lambda,map을 이용

In [100]:
x=[1,2,3,4]
y=[4,2,3,1]
list(map(lambda a, b : a+b , x,y))

[5, 4, 6, 5]

In [101]:
def list_plus(a,b):
    result=[]
    for i in range(len(a)) :
        result.append(a[i]+b[i])
    return result
list_plus(x,y)

[5, 4, 6, 5]

- Q) 어떤 리스트형 숫자들을 매개변수로 받아 짝수만 return해 주는 함수를 작성하라.

- Q) 어떤 문자를 입력받아 거꾸로 재배열하는 함수를 작성하라. ex) abc 입력하면 cba return

- Q) 어떤 입력값을 받아 평균, 분산, 표준편차를 return 하는 함수를 작성하라. 이때 입력값의 개수는 정해지지 않았다.

- Q) 절대값을 찾는 함수 ABS를 만들어 보세요.ABS 함수에는 한개의 숫자(정수)를 입력받아 절대값 결과를 결과로 내보내는 함수 입니다. abs라는 파이썬의 함수로 절대값을 구할 수 있으나 이를 사용하지 않습니다. 예를들어, ABS(-3)를 수행하면 3이 나오게 합니다.

- Q) 약수를 구하는 문제입니다. 적당한 자연수를 input를 이용해 입력받고 그 숫자의 약수를 for 문장(리스트 내포형도 가능)을 이용해서 구해보세요. 결과는 리스트 자료형입니다.