## H.W. 1

In [1]:
id = "2016143084"  # 학번을 문자열로 쓰세요.
name = "김동현"  # 이름을 문자열로 쓰세요.

print("학번은 %s, 이름은 %s 입니다." % (id, name))  # 결과 출력

학번은 2016143084, 이름은 김동현 입니다.

##### \*\*\*\* 수업시간에 사용하지 않은 패키지를 사용하지 않습니다.

- 문제에 print라고 직접 쓴것은 print 함수를 사용
- 그외는 굳이 print 하지 않아도 되나, out 결과는 나올 수 있게 할 것. 물론 print 해도 됨.

Q1) 반지름이 20인 피자의 면적을 구해보세요.

- 면적 구하는 식 = $ 3.14\times 반지름^2 $

In [3]:
radius = 20
area = 3.14 * radius**2
area

1256.0

Q2) 한줄로 문자열을 작성하여 다음과 같이 4줄 문자열이 나오도록 하세요.

- 줄바꿈 이스케이프 코드, print 사용

Hello,  
World!<br/>
'하나!'  
"둘!"

In [4]:
print("Hello,\nWorld!\n'하나!'\n\"둘!\"")
# 저장하는 순간 가장 바깥이 쌍따옴표로 바뀝니다.

Hello,
World!
'하나!'
"둘!"

Q3) money에 5000, price에 물건값 2600을 입력하세요. change는 거스름돈(money-price)이 되도록 하세요. coin500s에 change(거스름돈) 중 500원 동전의 개수를 저장하고, change에 500원 동전으로 거스름돈을 주고 남은 나머지 거스름돈을 저장하세요. coin100s에 거스름돈 중 100원 동전의 개수를 저장하세요. 최종적으로는 다음 문장이 되도록 문자열 포맷팅에서 coin500s, coin100s을 이용하여 출력하세요.

- coin500s, coin100s 에 직접 숫자를 넣지 않고 연산(나머지, 몫)으로 값이 저장되게 하세요.

500원 동전의 개수: 4, 100원 동전의 개수: 4

In [6]:
money = 5000
price = 2600
change = money - price
coin500s = change // 500
change = change % 500
coin100s = change // 100

print("500원 동전의 개수: {}, 100원 동전의 개수: {}".format(coin500s, coin100s))

500원 동전의 개수: 4, 100원 동전의 개수: 4

Q4) 다음 문장을 t에 입력하고 문자열 내의 단어 개수를 구해보세요.

- split, len 사용

"Only I can change my life, no one can do it for me."

In [7]:
t = "Only I can change my life, no one can do it for me."
len(t.split(" "))

13

Q5) '010.1234.5678' 문자열을 '010-1234-5678'이 되게 하는 방법 2가지를 적용해보세요.

(1) split, join을 사용해 보세요.

(2) replace을 사용해 보세요.

In [11]:
text = "010.1234.5678"
"-".join(text.split("."))

'010-1234-5678'

In [13]:
text = "010.1234.5678"
text.replace(".", "-")

'010-1234-5678'

Q6) things에 ["나뭇가지", "진흙", "돌"] , tool에 ["칼", "가위"] 을 입력하고 tool에 '톱','밧줄','라이터'를 추가하여 things와 tool을 합쳐 house 변수에 입력하여 최종적으로 house가 ['나뭇가지', '진흙', '돌', '칼', '가위', '톱', '밧줄', '라이터'] 가 되게 하세요. 다음 2가지 방법을 각각 적용해 보세요.

(1) append 사용

(2) extend 사용

In [16]:
things = ["나뭇가지", "진흙", "돌"]
tool = ["칼", "가위"]

tool.append("톱")
tool.append("밧줄")
tool.append("라이터")
house = things + tool
house

['나뭇가지', '진흙', '돌', '칼', '가위', '톱', '밧줄', '라이터']

In [17]:
things = ["나뭇가지", "진흙", "돌"]
tool = ["칼", "가위"]

tool.extend(["톱", "밧줄", "라이터"])
house = things + tool
house

['나뭇가지', '진흙', '돌', '칼', '가위', '톱', '밧줄', '라이터']

Q7) 다음과 같은 리스트를 생성하세요.

population = ["Seoul", 9765, "Busan", 3441, "Incheon", 2954]

(1) 각 도시의 이름을 슬라이싱(slicing)의 step(증가분,감소분) 값을 이용하여 print 해보세요.

(2) 각 도시의 인구를 슬라이싱(slicing)의 step(증가분,감소분) 값을 이용하여 print 한 후 이 값들의 합을 print 하도록 하세요.

In [18]:
population = ["Seoul", 9765, "Busan", 3441, "Incheon", 2954]
print(population[0::2])

['Seoul', 'Busan', 'Incheon']

In [20]:
population = ["Seoul", 9765, "Busan", 3441, "Incheon", 2954]
sliced = population[1::2]
print(sliced)
print(sum(sliced))

[9765, 3441, 2954]
16160

Q8) slist = ['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]를 입력한 후,

(1) 인덱스를 사용하여 ‘Park’의 키 173.5를 175.0으로 변경한 후 리스트를 확인해보세요.

(2) insert를 사용하여 인덱스 4에 “Hong”을 추가하고 인덱스 5에 168.1을 추가한 후 리스트를 확인해보세요.

(3) name=['Kim','Park','Hong','Lee'], height=[178.9,175,168.1,176.1] 을 입력한 후,
sslist에 [('Kim', 178.9), ('Park', 175), ('Hong', 168.1), ('Lee', 176.1)] 이 되도록 해보세요.

- zip 함수 사용

In [21]:
slist = ["Kim", 178.9, "Park", 173.5, "Lee", 176.1]
slist[3] = 175.0
slist

['Kim', 178.9, 'Park', 175.0, 'Lee', 176.1]

In [22]:
slist.insert(4, "Hong")
slist.insert(5, 168.1)
slist

['Kim', 178.9, 'Park', 175.0, 'Hong', 168.1, 'Lee', 176.1]

In [24]:
name = ["Kim", "Park", "Hong", "Lee"]
height = [178.9, 175, 168.1, 176.1]
sslist = list(zip(name, height))
sslist

[('Kim', 178.9), ('Park', 175), ('Hong', 168.1), ('Lee', 176.1)]

Q9) in 연산자를 사용하여 ‘Suga’가 리스트 bts 안에 있는지 확인하고 'Suga' 의 인덱스 위치를 메소드를 사용하여 찾아보세요. bts = ["V", "J-Hope", "Suga", "Jungkook"]

In [25]:
bts = ["V", "J-Hope", "Suga", "Jungkook"]
print("Suga" in bts)
print(bts.index("Suga"))

True
2

Q10) 집합 연산을 사용하여 2개의 파티에 모두 참석한 사람을 찾아보세요.
partyA 에는 ["Park", "Kim", "Lee"] , partyB 에는 ["Park", "Choi"] 이 참석하였습니다.

In [26]:
partyA = set(["Park", "Kim", "Lee"])
partyB = set(["Park", "Choi"])
partyA.intersection(partyB)

{'Park'}

Q11)
phone_book에 {'홍길동': '010-1234-5678', '강감찬': '010-1111-2222', '이순신': '010-3333-4444'}을 입력하세요.

(1) del을 사용하여 ‘홍길동’을 삭제하고 딕셔너리를 print하세요.

(2) (1) 이후 pop()을 사용하여 ‘이순신’ 항목을 출력하면서 삭제하고 딕셔너리를 print하세요.

In [27]:
phone_book = {"홍길동": "010-1234-5678", "강감찬": "010-1111-2222", "이순신": "010-3333-4444"}
del phone_book["홍길동"]
print(phone_book.pop("이순신"))
print(phone_book)

010-3333-4444
{'강감찬': '010-1111-2222'}

Q12) heroes = [ "아이언맨", "토르", "헐크", "스칼렛 위치" ] 다음의 지시 사항에 따라 정렬한 후 print 하세요.

(1) sort()를 사용하여 오름차순 정렬후 정렬값을 print 하세요.

(2) sort()를 사용하여 내림차순 정렬후 정렬값을 print 하세요.

(2) sorted() 함수를 사용하여 오름차순 정렬후 정렬값을 print 하세요.

In [28]:
heroes = ["아이언맨", "토르", "헐크", "스칼렛 위치"]
heroes.sort()
print(heroes)
heroes.sort(reverse=True)
print(heroes)
print(sorted(heroes))

['스칼렛 위치', '아이언맨', '토르', '헐크']
['헐크', '토르', '아이언맨', '스칼렛 위치']
['스칼렛 위치', '아이언맨', '토르', '헐크']