## 2.5 집합

- set 키워드를 사용해 만들수 있음
- 중복을 허용하지 않음
- 순서가 없음  : 인덱싱으로 값을 얻을 수 없음
- 교집합, 합집합, 차집합을 구할 수 있음
- iterable(반복가능한), mutable(변경가능한) 객체 임.

In [ ]:
%autosave 0

In [ ]:
s={1,2,3}   #{}의 형식
s

In [ ]:
s=set((1,2,3))   # set() 의 형식
s

In [ ]:
s=set([1,2,3])  
s

In [ ]:
s=set("Hello") # set("")의 형식, 중복을 피함
s

In [ ]:
s=set([1,2,3,3,2,1]) #중복을 피함
s

In [ ]:
type(s)

- Q1) s1에는 {1,2,3,4,5,6}, s2에는 {4,5,6,7,8,9}의 집합형을 입력하고, 교집합, 합집합,차집합(s1에서 s2를 빼는)를 구하시오.

In [ ]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

In [ ]:
s1 & s2 # 교집합 = s1.intersection(s2)

In [ ]:
s1.intersection(s2)

In [ ]:
s1 | s2 #합집합 = s1.union(s2)

In [ ]:
s1.union(s2)

In [ ]:
s1-s2 # 차집합 = s1.difference(s2)

In [ ]:
s2-s1 # = s2.difference(s1)

- Q2) s에 {1,2,3} 집합형을 입력하고, {4}를 추가하여라.

In [ ]:
s={1,2,3}
s.add(4) # 1개이 값을 추가할 경우
s

In [ ]:
s={1,2,3}
print(id(s))
s.add(4) # 1개이 값을 추가할 경우
print(id(s))  # mutable 객체

- Q3) s에 {1,2,3} 집합형을 입력하고, {4,5,6}를 추가하여라.

In [ ]:
s={1,2,3}
s.update({4,5,6}) #여러개의 값을 추가할 경우
s

- Q4) s에 {1,2,3} 집합형을 입력하고, {2}를 삭제하여라.

In [ ]:
s={1,2,3}
s.remove(2) #특정값 한개 제거
s

- Q5) s에 {1,2,3} 집합형을 입력하고, {2,3}를 삭제하여라.

In [ ]:
s={1,2,3}
s-= {2,3} # 특정집합을 제거 
#s=s-{2,3}
s

In [ ]:
s={1,2,3}
s[1]    #indexing으로 값을 얻을 수 없음. error

In [ ]:
for i in {1,2,3} : # iterable 객체
    print(i)

- 집합형을 리스트, 튜플형으로 바꾸기 : indexing 접근이 가능해짐

- Q6) s에 {1,2,3} 집합형을 입력하고 이를 리스트형으로 바꿔서 1을 인덱스로 찾아내라.

In [ ]:
s={1,2,3}
l=list(s)
l[0]
#s1=set(l)
#s1

- Q7) s에 {1,2,3} 집합형을 입력하고 이를 튜플형으로 바꿔서 1을 인덱스로 찾아내라.

In [ ]:
s={1,2,3}
t=tuple(s)
t[0]

- Q8) 다음의 집합형 자료에서 min과 max 값을 구하시오. s={5, 10, 3, 15, 2, 20}
    
     또한, 이 자료의 개수를 구하시오.

## 2.6 불(bool)

- 참과 거짓을 나타내는 자료형 : True / False

In [ ]:
1<2

In [ ]:
1>2

In [ ]:
1==1

In [ ]:
not (1==1)

In [ ]:
1<2 and 1>2 # False and False, False and True, True and True, 
            # False or False, False or True, True or True

In [ ]:
1==0 or 0==0

In [ ]:
1==0 | 0==0

In [ ]:
(1==0) | (0==0)

- True는 숫자로 1, False는 숫자로 0으로 인식됨. 따라서, T/F로 연산도 가능함.

In [ ]:
(1>2)*2 # True는 숫자1, False는 숫자 0으로 인식하여 연산

In [ ]:
sum([True, False, True, False])

In [ ]:
bool("") # 빈 문자열, 빈 리스트, 빈 튜플, 숫자=0 등은 False로 인식

In [ ]:
bool(0)

In [ ]:
bool(list())

In [ ]:
bool(set())

In [ ]:
bool([1,2,3])

In [ ]:
bool("Python")

* python에서 None의 의미는 값이 존재하지 않음을 의미함. (null의 의미)

In [ ]:
bool(None) # None은 거짓으로 인식, 왜냐하면 None은 type이 Nonetype 이라는 것으로 분류되기 때문임.

In [ ]:
type(None)

In [ ]:
def positive(value):
    if value>0 :
        return value

In [ ]:
a=positive(10)

In [ ]:
a

In [ ]:
b=positive(-10)
b

In [ ]:
bool(b)

In [ ]:
type(b)

- all : iterable 객체의 모든 요소가 True 이면 True , 하나라도 False 이면 False
- any : iterable 객체에서 하나라도 True인 요소가 있으면 True, 모든 요소가 False 이면 False

In [ ]:
all([1,2,3])

In [ ]:
all([0,1,2])

In [ ]:
any([1,2,3])

In [ ]:
any([0,1,2])

In [ ]:
any([0,0,0])

## 2.7 딕셔너리

- Key와 Value를 한쌍으로 갖는 자료형 
- Key를 이용해 Value를 얻을 수 있음

{Key1:Value1 , Key2:Value2 , Key3:Value3, ...}

dict(Key1=Value1, Key2=Value2, Key3=Value3, ...)

dict(zip(key 객체, value 객체)) 

- iterable(반복가능한), mutable(변경가능한) 객체 임.

- Q1) Key를 'name','phone','birth'로 정의하고 각각의 value를 'pey','0119993323','1118'를 갖는 딕셔너리형 자료를 dic에 입력하라.

In [ ]:
dic={'name':'pey', 'phone':'0119993323', 'birth':'1118'} #key 문자 처리
dic

In [ ]:
type(dic)

In [ ]:
dict(name='pey', phone='0119993323',birth='1118') #key 변수 처리

In [ ]:
keys=['name','phone','birth']
values=['pey','0119993323','1118']
dict(zip(keys,values))

- Q2) 위 dic에서 key가 'name'인 value를 찾아보아라.

In [ ]:
dic['name'] #Value를 얻기 위해 Key를 사용

In [ ]:
dic['foo'] # dic[key]일 경우 찾을려는 Key가 없을때 error 문구발생

In [ ]:
dic.get('name') #get 함수를 이용하여 value 얻기

In [ ]:
dic.get('foo','error1')  #찾을려는 Key가 없을때 'error' return

In [ ]:
a={1:'a',2:'b'} # Key에 숫자 가능
a

In [ ]:
a[2]

In [ ]:
a={1:'a',2:'b',[1,2,3]:3 } #error : Value에 리스트,튜플,집합형 가능 ,Key에는 불가능
a

In [ ]:
a={1:'a',2:'b',3 :[1,2,3] } #Value에 리스트,튜플,집합형 가능 ,Key에는 불가능
a

In [ ]:
a={1:'a',1:'b'} #Key가 중복될경우 맨 마지막 쌍만 남음.
a

- 딕셔너리 관련 함수
 1. Key 리스트 만들기 : keys()
 2. Value 리스트 만들기 : values()
 3. Key, Value 쌍 얻기 : items()
 4. 해당 Key가 딕셔너리 안에 있는지 조사하기 : in
 5. Key, Value 쌍 모두 지우기 : clear()  
 6. 해당 Key의 key와 value 지우기 : del, remove, pop

- Q3) 위 Q1 문제의 dic에서 Key 값을 리스트형으로 변환하여 d_key에 입력하라.

In [ ]:
dic

In [ ]:
d_key=dic.keys()   # Key 리스트 
d_key=list(d_key)  #리스트로 반환 list()
d_key

In [ ]:
d_key[0]

- Q4) 위 Q1 문제의 dic에서 value 값을 리스트형으로 변환하여 d_value에 입력하라.

In [ ]:
d_value=dic.values() # Value 리스트
d_value=list(d_value)
d_value[0]

- Q5) 위 Q1 문제의 dic에서 Key와 Value의 쌍은 튜플이 되고 전체를 리스트형이 되게 얻어보자.

In [ ]:
dic.items()

In [ ]:
list(dic.items()) #리스트안에 튜플형식으로

- Q6) 위 Q1 문제의 dic의 key값에 'name'이 있는지 확인해보라.

In [ ]:
'name' in dic  #해당 Key가 딕셔너리 dic에 있는지 조사

In [ ]:
'pey' in dic #Value는 아님

- Q7) 위 Q1 문제의 dic의 모든 요소를 삭제해보자.

In [ ]:
dic.clear() # 모든 요소 삭제
dic

- Q8) 위 Q1 문제의 dic에서 key가 'phone'인 것을 지우세요.

In [ ]:
del dic['phone']
dic

In [ ]:
dic={'name':'pey', 'phone':'0119993323', 'birth':'1118'} #key 문자 처리
print(dic.pop('phone'))
dic

- Q9) 다음의 딕셔너리를 만들기 위한 프로그램을 작성하시오. 

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
 
 힌트) 11~19의 연속된 숫자를 list로 만드는 방법은 list(range(11,20))

- Q10) 위 문제에서 key가 'x'인 value의 min과 max을 구하시오.

- Q11) {0: 10, 1: 20} 딕셔너리 자료에 key를 더 추가하여 {0: 10, 1: 20, 2: 30} 을 만들어 보시오. 
 
    힌트) update : 딕셔너리 자료에 key 추가

- Q12) 위 Q11에서 key가 0인 value가 10인 숫자형이다. 이를 리스트형으로 바꾸고 5와 6를 추가하여 dic2[0]의 value가 [10,5,6]이 나오게 만들어 보시오.

- Q13) 위 dic2의 key가 0인 value [10,5,6]에서 요소 5를 삭제하라.(remove 사용)

- Q14) 위 문제에서 {0: 10, 1: 20, 2: 30} 중 key가 0인 것을 없애보시오.(del 사용)

## 2.8 == , is의 차이

- == : 나타내는 값이 같은지 여부 
- is : 객체의 주소가 같은지 여부

In [ ]:
a=1000
b=1000
print(a==b, a is b)

In [ ]:
a=[1,2,3]
a

In [ ]:
id(a)  # 변수가 가리키고 있는 주소값

In [ ]:
b=a     #a를 b로 복사 
id(b)   #b 변수의 주소값도 a와 동일해짐

In [ ]:
a is b # a와 b는 주소가 같은 변수

In [ ]:
a==b  # a와 b는 값이 같은 변수

In [ ]:
c=[1,2,3] 
a is c  #a와 c는 다른 변수

In [ ]:
a == c #같은 값

In [ ]:
a[2]=4   #a[2]의 값을 4로 변경하면, 동일한 주소를 갖는 변수 b도 같이 변경됨
a

In [ ]:
b

In [ ]:
b=a[:] # b변수를 생성할 때 a와 동일한 요소를 갖지만 주소는 다르게 할 때- 방법1
b

In [ ]:
id(b)

In [ ]:
id(a)

In [ ]:
a[0]=10

In [ ]:
a

In [ ]:
b

In [ ]:
b=a.copy() # b변수를 생성할 때 a와 동일한 요소를 갖지만 주소는 다르게 할 때 - 방법2
b

In [ ]:
id(b)

In [ ]:
id(a)