## 6.pandas
  - Numpy의 배열기반 스타일이나, 
  - 차이점은 표 형식의 데이터나 다양한 형태의 데이터를 다루는 데 초점을 맞춰 설계
  
  - Install : cmd에서 pip install pandas
  - import pandas as pd : pd.Series로 사용

In [ ]:
import pandas as pd
obj = pd.Series([4,7,-5,3])
obj

### 6.1. Series

- 일련의 객체를 담을 수 있는 1차원 배열같은 자료 구조 
- 왼쪽이 index, 오른쪽이 value 값
- 위 예제에서 index는 [0,1,2,3] , values는 [4,7,-5,3]

In [ ]:
obj.index  #index 리턴

In [ ]:
obj.values  #value 리턴

Q1.value가 [4,7,-5,3]이고 index가 ['d','b','a','c'] 인 series 을 생성하시오.

In [ ]:
obj=pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj

Q2. index가 'a'인 value의 값은?

In [ ]:
obj['a']   # index가 'a'인 value

Q3. index가 'a','b'인 value의 값은?

In [ ]:
obj[['a','b']] #index가 'a','b'의 value

Q4. value가 0보다 큰 값들은?

In [ ]:
#obj>0
obj[obj>0] #obj가 0보다 큰 값의 value

Q5.{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000} 딕셔너리 자료형을 만들고, 딕셔너리의 key를 index로 하는 series을 생성하시오.

In [ ]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000} #딕셔너리 자료형
sdata

In [ ]:
obj=pd.Series(sdata) # pandas의 Series로 key를 index로 하는 자료형 
obj

Q6. [4,7,-5,3] 인 series을 만들고 나서, index을 바꿀려고 한다. 
    기존의 [0,1,2,3] index을 ['Bob','Steve','Jeff','Ryan']로 바꾸시오.

In [ ]:
obj=pd.Series([4,7,-5,3])
obj.index=['Bob','Steve','Jeff','Ryan'] #index 이름을 대입하여 변경
obj

Q7.value에 2을 더하시오.

In [ ]:
obj+2

Q8. numpy로 array [10,11,12,13,14]와 [0,1,2,3,4]을 만들고 이를 series 형태로 바꾸어 각각 x,y라는 변수에 넣고 x+y을 계산하라.

In [ ]:
import numpy as np

x = pd.Series(np.arange(10, 15))
y = pd.Series(np.arange(0, 5))
print(x)
print(y)
print(x + y)

Q9. series 형태를 더할 때, index가 같은 것끼리 더해진다. 이를 알아보기 위해 위 x변수의 index을 ['x1', 'x2', 'x3', 'x4', 'x5'] , 
y변수의 index는 ['y1', 'y2', 'x3', 'x4', 'x5']로 바꿔 다시 x+y를 계산하라.

In [ ]:
x = pd.Series(np.arange(10, 15), index=['x1', 'x2', 'x3', 'x4', 'x5'])
y = pd.Series(np.arange(0, 5), index=['y1', 'y2', 'x3', 'x4', 'x5'])
print(x)
print(y)
print(x + y) # matching the index.

### 6.2.DataFrame

- 표 같은 스프레드시트 형식의 자료구조
- 여러개의 컬럼이 있는데, 서로 다른 종류의 자료형을 담을 수 있음. 
- 행과 열에 대한 index를 갖고 있음

In [ ]:
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
        'year' : [2000,2001,2002,2001,2002,2003],
        'pop' : [1.5,1.7,3.6,2.4,2.9,3.2]}
data

In [ ]:
frame=pd.DataFrame(data)   #column에 대한 index 이름이 state,year, pop (변수이름으로 인식) 이고 row에 대한 index는 0~5
frame

Q10. 처음 5개의 row만 출력하라.

In [ ]:
frame.head() # 처음 5개의 row만 출력

Q11. 컬럼 state만 선택하여 value을 확인하라.

In [ ]:
frame['state']  # 컬럼 변수

Q12. 컬럼 state와 pop을 선택하여 value을 확인하라.

In [ ]:
frame[['state','pop']]

Q13.컬럼 이름을 순서대로 'a','b','c' 로 바꿔라.

In [ ]:
frame.columns

In [ ]:
frame.columns = ['a','b','c'] #컬럼 갯수가 정확히 맞아야 함.
frame

Q14. 컬럼 이름 'a'만 'state'로 바꿔라.

In [ ]:
frame.rename(columns = {"a": "state"}, inplace = True)
frame

Q15. row가 4번째인 value을 확인하라.

In [ ]:
frame.loc[3] #loc는 row의 index 지정 가능

In [ ]:
frame.iloc[3]

Q16. row의 index 값이 1,2인 value을 확인하라.

In [ ]:
frame[1:3] # row index (1,2)값

Q17. row의 index 값이 1,2이고 column이 'b','c'인 value을 확인하라.

In [ ]:
frame[1:3][['b','c']]

Q18. row의 index 값을 기존의 [0,1,2,3,4,5]에서 ['id1','id2','id3','id4','id5','id6'] 로 바꿔라.

In [ ]:
frame.index=['id1','id2','id3','id4','id5','id6']  #row index 변경
frame

Q19. row의 index값 'id4'의 value을 확인하라.

In [ ]:
frame.loc['id4']

In [ ]:
frame.iloc[1:3]

In [ ]:
frame.iloc[3]   # frame.loc[3]은 error 발생 loc는 index 명을 , iloc는 내재된 정수 index 사용 가능

Q20. frame에 debt라는 column 변수를 추가하고 value은 0,1,2,3,4,5의 값을 arange로 채워넣어라.

In [ ]:
frame['debt'] =np.arange(6) # 변수 추가 
frame

Q21. frame에서 state 라는 column 변수를 삭제하라.

In [ ]:
frame.drop('state' , axis=1) # column 변수 (axis=1) 'state' 삭제

Q22. frame에서 id3라는 row를 삭제하라.

In [ ]:
frame.index=['id1','id2','id3','id4','id5','id6']
frame.drop('id3') # row index 'id3' 삭제   frame.drop('id3',axis=0)

Q23. frame에서 숫자형 변수 b,c,debt에 대한 기술통계자료를 얻어라.

In [ ]:
rs=frame.describe() #숫자형 변수에 대한 통계자료 
rs

Q24. 위 통계표에서 debt 변수의 std 값만 따로 구하시오.

In [ ]:
rs['debt'].loc['std']

In [ ]:
frame['debt'].describe()['std']

Q25. 다음과 같은 dataframe을 만들어라. (values는 arange 사용)

|  |x1 |x2 |x3 |x4 |x5 |
|--|---|---|---|---|---|
|case1 | 10 | 11 |12 |13 |14
|case2 | 0 | 1| 2| 3| 4|

In [ ]:
x = pd.DataFrame(np.array([np.arange(10, 15), np.arange(0, 5)]), columns=['x1','x2','x3','x4','x5'], index=['case1', 'case2'])
x   #columns 에는 변수명 , index는 row에 대한 index명

- Q) 다음의 data series에서 
<pre>
0      0           
1      1            
2      2           
3      3           
4      4           
5      5           
6      6           
7      7           
8      8           
9      9           
10    10           
</pre>
다음과 같은 일부분을 찾는 프로그램을 작성하시오.
<pre>
0    0           
1    1           
2    2           
3    3           
4    4           
5    5      
</pre>

- Q) 다음의 data series을
<pre>
A    1               
B    2               
C    3               
D    4               
E    5               
</pre>
다음과 같이 index 순서를 바꾸는 프로그램을 작성하시오.
(힌트) reindex(index=[index 순서])
<pre>
B    2               
A    1               
C    3               
D    4               
E    5               
</pre>

- Q) 다음의 data series의 value들의 sum을 구하시오. 
<pre>
0    100.0             
1    120.0             
2    101.0             
3      3.0             
</pre>

- Q) 다음의 딕셔너리 자료형으로 data frame을 만들고, col1이 4인 경우만 고르는 프로그램을 작성하라.

{'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

- Q) 위 딕셔너리 자료형 예제에서 col1이 4인 경우를 제거하는 프로그램을 작성하라.

- Q) 위 딕셔너리 자료형 예제에서 처음 3개만 선택하는 프로그램을 작성하라.