### 6.3. 기술통계 계산과 요약

 - 누락된 데이타를 제외하고 계산됨
 - describe, count, min(max), idxmin(idxmax), quantile, sum, mean, median, mad, var, std...

Q1. DataFrame을 이용하여 아래와 같은 테이블을 만들어라.


| |one | two |
|--|--|--|
|a |1.40 |NaN|
|b |7.10 |-4.5|
|c |NaN |NaN |
|d |0.75 |-1.3|

In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame([ [1.4,np.nan],[7.1,-4.5],[np.nan, ],[0.75,-1.3]], 
               index=['a','b','c','d'],columns=['one','two'])

df  #np.nan 의 의미는 NaN으로 누락된 데이타, 즉 결측치를 의미함. 또는 space로 해도 결측값이 됨

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.two

Q2. one, two 변수에 대한 기술통계량을 구하여라.

In [ ]:
df.describe() # 기술통계

Q3. 각 변수의 데이타의 개수를 구하시오.

In [ ]:
df.count()  # 데이타 개수

In [ ]:
df.count().one

In [ ]:
df.one.count()

Q4. 각 변수의 sum을 구하여라.

In [ ]:
df.sum()

In [ ]:
df.sum().one

In [ ]:
df['one'].sum() #df.one.sum()

Q5. 각 row별 sum 값을 구하여라.

In [ ]:
df.sum(axis=1) # 각 row별 통계값 , df.sum(axis='columns')

In [ ]:
df.sum(axis=1).a

Q6. 각 row별 mean 값을 구하되, NaN도 포함하여 계산하여 결측치가 있으면 mean 값이 NaN이 되게 하시오.

In [ ]:
df

In [ ]:
df.mean(axis=1)

In [ ]:
df.mean(axis=1, skipna=False) # skipna=False 는 NaN을 포함하여 계산 즉, 결측치가 있으면 계산되지 않고 NaN이 됨

Q7. column별 min 값을 구하시오.

In [ ]:
df.min() # min  데이타 값을 리턴

Q8. column별 min값이 있는 index 값을 찾으시오.

In [ ]:
df

In [ ]:
df.idxmin() # min이 있는 index 값을 리턴

Q9. column별 25%사분위값을 구하시오.

In [ ]:
df.quantile(0.25) # 사분위값 0~1 의 값을 입력 : 0.25는 25% 값

Q10.column별 표본표준편차를 구하시오.

In [ ]:
df.std() #표준편차

Q11. value가 1~100인 series 배열을 만들고 기술통계량을 구하여라.

In [ ]:
x = pd.Series(np.arange(1, 101))  
x

In [ ]:
x.describe()

Q12. x는 1~100 ,y= 2+3*x+e , where e ~ N(0,1) 인, (x,y) 변수로 구성된 dataframe을 만들어라.

In [ ]:
xy = pd.DataFrame({'x':np.arange(1, 101), 'y': 2 + 3 * np.arange(1, 101)+ np.random.normal(size=100)})
xy.head()

Q13. x,y의 covariance, correlation을 구하세요.

In [ ]:
xy.cov() # covariance 행렬

In [ ]:
xy.corr() # correlation 행렬

In [ ]:
xy.corr().x.y

### 6.4. Dataframe 병합

- 하나 이상의 key를 기준으로 DataFrame의 row를 합침

  pd.merge(왼쪽_df, 오른쪽_df, how='option', left_on='key', right_on='key')
  
  
- left_on, right_on의 key 배열에서 key가 여러개일 경우는 ['key1','key2',,,]

- left_on, right_on 모두 동일한 key 이름일 경우는 on='key' 사용


- how option 

   1) inner : 교집합 형식으로 양쪽 테이블 공통적으로 모두 존재
   
   2) left :  왼쪽 테이블이 기준
   
   3) right : 오른쪽 테이블이 기준
   
   4) outer : 합집합 형식으로 양쪽 테이블 모두 존재

Q14. 다음과 같은 테이블을 df1 변수에 만들어라.


| |Key |data1 |
|--|--|--|
|0 |a |10 |
|1 |b |11 |
|2 |c |12 |
|3 |d |13 |
|4 |e |14 |

다음과 같은 테이블을 df2 변수에 만들어라.

| |Key |data2|
|--|--|--|
|0 |a |0 |
|1 |b |1 |
|2 |f |2 |

In [ ]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'Key' : ['a','b','c','d','e'], 'data1':np.arange(10,15)})
df1

In [ ]:
df2=pd.DataFrame({'Key':['a','b','f'], 'data2': np.arange(3)})
df2

Q15. df1, df2 테이블에 있는 key변수를 중심으로 inner (교집합)을 만드시오.

In [ ]:
pd.merge(df1, df2, how='inner',left_on='Key', right_on='Key')

Q16. df1 테이블을(왼쪽 테이블) 기준으로 df2 테이블을 붙여라. (기준 key 변수)

In [ ]:
pd.merge(df1,df2,how='left',on='Key')

Q17. df2 테이블을(오른쪽 테이블) 기준으로 df1을 붙여라.(key변수 기준)

In [ ]:
pd.merge(df1,df2,how='right',on='Key')

Q18. df1, df2 모두 합치기(합집합 형식) (key변수 기준)

In [ ]:
pd.merge(df1,df2,how='outer',on='Key')

Q19. df1, df2에 있는 key 변수를 index로 만드시오.

In [ ]:
# index를 다시 setting 하는 방법 set_index
df1=df1.set_index('Key') #df1.set_index('Key', inplace=True)
df1

In [ ]:
df2=df2.set_index('Key') #df2.set_index('Key', inplace=True)
df2

Q20. df1, df2에 있는 key index를 기준으로 inner(교집합)테이블 생성

In [ ]:
pd.merge(df1, df2, how='inner',left_index=True, right_index=True)

Q21. 다시 원래대로 index setting 하시오.

In [ ]:
df1=df1.reset_index() # df1.reset_index(inplace=True)
df2=df2.reset_index() # df2.reset_index(inplace=True)
df2

Q22. df1, df2를 행방향으로 연결하시오. 단, df2의 변수명 중 data2을 data1으로 먼저 바꾸시오.

In [ ]:
df2.rename(columns = {'data2' : 'data1'}, inplace = True) # 변수이름 바꾸기
#df2.columns=['Key','data1']
df3=pd.concat([df1,df2])

In [ ]:
df3.reset_index(inplace=True)

### 6.5. 데이터 집계

- groupby를 통해 데이터 요약을 할 수 있음.

Q23. 다음의 테이블을 xx로 만들어라.

| | x| y| z|
|--|--|--|--|
|0|m|23|30|
|1|f|20|15|
|2|f|21|20|
|3|m|20|35|
|4|f|23|40|
|5|m|24|30|
|6|m|21|10|
|7|m|25|25|

In [ ]:
x = ["m", "f", "f", "m", "f", "m", "m","m"]
y = [23, 20, 21, 20, 23, 24, 21, 25]
z = [30, 15, 20, 35, 40, 30, 10, 25]

xx = pd.DataFrame({'x':x, 'y':y, 'z':z})
xx

Q24. xx 데이타의 x변수 기준으로 y와 z변수를 sum 값을 구하여라.

In [ ]:
xx.groupby('x').sum()   # xx 데이타의 x 변수 기준으로 y와 z를 sum

Q25. xx 데이타의 x변수를 기준으로 y와 z변수의 평균을 구하여라.

In [ ]:
xx.groupby('x').mean()   #평균

Q26. xx데이타의 x변수 기준으로 y만 sum 값을 구하여라.

In [ ]:
xx.groupby('x').sum().y # xx 데이타의 x 변수 기준으로 y만 sum

In [ ]:
sum_x=xx.groupby('x').sum()
sum_x['y']

Q27. x변수의 m/f 별 count를 세어 xx 데이터 프레임에 merge를 이용하여 값을 넣어라.

In [ ]:
xx_c=pd.DataFrame(xx.x.value_counts()) 
xx_c.columns=['count']
xx_c.reset_index()
xx=pd.merge(xx,xx_c,  how='inner',left_on='x', right_index=True)
xx

Q28.x1과 x2에 성공률이 0.2인 베르누이 분포을 따르는 10개의 랜덤넘버를 발생하시오.

In [ ]:
x1 = np.random.binomial(1, 0.2, 10)
x2 = np.random.binomial(1, 0.2, 10)
x1

In [ ]:
x2

Q29. x1과 x2의 value 0과 1의 조합별 count을 만들어 table을 만드시오.

In [ ]:
pd.crosstab(x1, x2)  #0과 1의 조합별로 count

### 6.6. 데이터 입출력

- csv 파일 입출력 : ","가 구분자
- read_csv : 데이타 입력
- to_csv : 데이타 출력

Q30.ex3.csv 파일을 불러와서 data 변수에 넣으시오. 단, ex3.csv에 있는 변수명을 인식하시오.

In [ ]:
import os

os.getcwd()

In [ ]:
data = pd.read_csv('ex3.csv',header=None)  #변수명을 인식하지 못하고 데이타로 읽음
data

In [ ]:
data = pd.read_csv('ex3.csv')#변수명을 인식
data

Q31. score 변수의 평균을 구하시오.

In [ ]:
m=data.score.mean() # score 변수의 평균 
m

Q32.data에 위 평균값을 mean 이라는 변수로 추가하시오.

In [ ]:
data['mean']=m #평균값을 mean 이라는 변수명으로 추가하기
data

Q33. score 변수로 sort 하시오.

 sort_values(by=[기준변수], ascending=Fasle) #내림차순 #기준변수가 여러개 일경우 ","로 나열

In [ ]:
data.sort_values(by=['score'], inplace=True) #디폴트 오름차순
print(data)
data.sort_values(by=['score'],ascending=False, inplace=True) #내림차순 옵션 ascending=False
print(data)
data.sort_values(by=['score','ID'],ascending=False, inplace=True)
print(data)

Q34. score 내림차순 순서대로 rank를 주시오.

   df['기준'].rank(ascending=Fasle) : 내림차순

In [ ]:
data['rank']=data['score'].rank(ascending=False).astype(int) #data.score.rank(ascending=False).astype(int)
data

Q35. score,ID 내림차순 순서대로 rank를 주시오

In [ ]:
data[['score','ID']].apply(list, axis=1)  # apply : 'score', 'ID' 변수를  row별로 list로 묶어서 하나의 요소값으로 처리

In [ ]:
data[['score','ID']].apply(list, axis=1).rank(ascending=False).astype(int)

Q36. data를 "ex4.csv" 파일로 내보내기 하시오.

In [ ]:
data.to_csv('ex4.csv')

In [ ]:
,ID,score,mean
0,1,50,45.4
1,2,23,45.4
2,3,14,45.4
3,4,90,45.4
4,5,50,45.4

In [ ]:
data.to_csv('ex5.csv',index=False) #row index 미포함

In [ ]:
ID,score,mean
1,50,45.4
2,23,45.4
3,14,45.4
4,90,45.4
5,50,45.4

In [ ]:
data.to_csv('ex6.csv',header=False,index=False) #row index, 변수명 미포함

In [ ]:
1,50,45.4
2,23,45.4
3,14,45.4
4,90,45.4
5,50,45.4